# yt-dlp
alias yt-audio="yt-dlp -f 'ba' -x --audio-format mp3"
alias yt-playlist="yt-dlp -o '%(playlist)s/%(playlist_index)s - %(title)s.%(ext)s'"

# dotfiles
alias config="git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME"

# Human-readable disk usage.
alias dfh="df -Tha --total"

# Reload shell.
alias reload="exec $SHELL -l"

# Mirror device
alias cast="nohup scrcpy --window-borderless --disable-screensaver --hid-keyboard --window-title=cloud --turn-screen-off &"

alias wireless-cast="nohup scrcpy --window-borderless --tcpip --disable-screensaver --hid-keyboard --window-title=cloud --turn-screen-off &"

# adb shell ip route | awk '{print $9}' - get phone ip
